*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a9c6f;
    --grey-900: #0d1919;
    --grey-700: #1f2c34;
    --grey-300: #fefff6;
    --green-300: #2dca7a;

}