*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

:root {
    --primary-color: #0a9c6f;
    --grey-900: #0d1919;
    --grey-800: #121b22;
    --grey-700: #1f2c34;
    --grey-300: #fefff6;
    --grey-200: #dcf8c6;
    --green-400: #138b80;
    --green-300: #2dca7a;
    --green-100: #dcf8c6;
    
    --font-primary:  "Roboto", sans-serif;
}

body {
    background-color: var(--primary-color);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 40px;
}
.app {
    background-color: white;
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    overflow: hidden;
}

img{
    width: 100px ;
}

aside {
    background-color: var(--grey-900);
    color: #dcf8c6;
}
aside header {
    background-color: var(--grey-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-aside img {
    width: 50px;
    border-radius: 50%;
}

.title-aside div button {
    border: none;

}
.action  button  {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    gap: 5px;
}

.action button:hover {
    background-color: var(--grey-700);
    width: 35px;
    height: 35px;
    

}
.title-aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
}

.title-aside h2 {
    font-size: 18px;
}

.action {
    display: flex;
}

.search {
    padding: 5px;
    background-color: var(--grey-800);
}

.search form input {
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--grey-700);
    color: white;
}

.search form input:action {
    outline: 1px solid var(--grey-300);
}

.chats {
  padding: 0 5px;

}
.chats ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.user-chat {
    background-color: var(--grey-900);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.user-chat:hover {
    background-color: var(--grey-700);
    cursor: pointer;
    border-radius: 5px;
    border-left: 8px solid var(--green-300);
}


.user-chat img {
    width: 60px;
    border-radius: 50%;
}
